<mat-divider></mat-divider>
<div class="container expertise mt-5 mb-5" id="expertise">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="card-title mb-5">My field of expertises:</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="expertiseicon text-center mb-2">
                        <span class="material-icons">draw</span>
                    </div>
                    <h2 class="title text-center mb-4">Logo Design</h2>
                    <div class="cardbody">Logos serve to represent brand's through visual image
                        that can be easily understood and recognized.
                    </div>
                </div>
                <div class="cardlink card-footer">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(2)">
                            View More
                        </a>
                    </small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="expertiseicon text-center mb-2">
                        <span class="material-icons">visibility</span>
                    </div>
                    <h2 class="title text-center mb-4">Visual Identity</h2>
                    <div class="cardbody"> Visual elements that serve to represent and
                        differentiate a brand. It refers to any visible components that help customers identify a
                        brand.
                    </div>
                </div>
                <div class="cardlink card-footer">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(5)">
                            View More
                        </a>
                    </small>
                </div>
            </div></div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="expertiseicon text-center mb-2">
                        <span class="material-icons">library_books</span>
                    </div>
                    <h2 class="title text-center mb-4">Editorials Design</h2>
                    <div class="cardbody">Various publishing materials, that help serve in
                        promotion of the brand. They project ideas of brand vision to users and
                        consumers.</div>
                </div>
                <div class="cardlink card-footer">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(1)">
                            View More
                        </a>
                    </small>
                </div>
            </div></div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="expertiseicon text-center mb-2">
                        <span class="material-icons">redeem</span>
                    </div>
                    <h2 class="title text-center mb-4">Packaging Design</h2>
                    <div class="cardbody">Packaging is the connection of form, structure,
                        materials, colour, imagery, typography to make a product suitable for marketing.</div>
                </div>
                <div class="cardlink card-footer">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(4)">
                            View More
                        </a>
                    </small>
                </div>
            </div></div>

    </div>
</div>

<mat-divider></mat-divider>