<mat-divider></mat-divider>
<div class="container expertise mt-5 mb-5" id="expertise">
    <div class="row">
        <div class="col text-center mt-5">
            <h1 class="card-title mb-5">My field of expertises:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mb-5">
            <mat-card>

                <div class="expertiseicon text-center mb-2">
                    <span class="material-icons">draw</span>
                </div>
                <mat-card-title class="title text-center mb-4">Logo Design</mat-card-title>
                <mat-card-content class="cardbody text-center">Logos serve to represent brand's through visual image
                    that can be easily understood and recognized.</mat-card-content>
                <mat-card-actions class="cardlink">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(2)">
                            View More
                        </a>
                    </small>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-3 mb-5"><mat-card>
                <div class="expertiseicon text-center mb-2">
                    <span class="material-icons">visibility</span>

                </div>
                <mat-card-title class="title text-center mb-4">Visual Identity</mat-card-title>
                <mat-card-content class="cardbody text-center"> Visual elements that serve to represent and
                    differentiate a brand. It refers to any visible components that help customers identify a
                    brand.</mat-card-content>
                <mat-card-actions class="cardlink">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(5)">
                            View More
                        </a>
                    </small>
                </mat-card-actions>
            </mat-card></div>
        <div class="col-3 mb-5"><mat-card>
                <div class="expertiseicon text-center mb-2">
                    <span class="material-icons">library_books</span>
                </div>
                <mat-card-title class="title text-center mb-4">Editorials Design</mat-card-title>
                <mat-card-content class="cardbody text-center">Various publishing materials, that help serve in
                    promotion of the brand. They project ideas of brand vision to users and
                    consumers.</mat-card-content>
                <mat-card-actions class="cardlink">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(1)">
                            View More
                        </a>
                    </small>
                </mat-card-actions>
            </mat-card></div>
        <div class="col-3 mb-5"><mat-card>
                <div class="expertiseicon text-center mb-2">
                    <span class="material-icons">redeem</span>
                </div>
                <mat-card-title class="title text-center mb-4">Packaging Design</mat-card-title>
                <mat-card-content class="cardbody text-center">Packaging is the connection of form, structure,
                    materials, colour, imagery, typography to make a product suitable for marketing.</mat-card-content>
                <mat-card-actions class="cardlink">
                    <small matRipple [matRippleCentered]="centered" [matRippleRadius]="20">
                        <a (click)="navigate(4)">
                            View More
                        </a>
                    </small>
                </mat-card-actions>
            </mat-card></div>

    </div>
</div>

<mat-divider></mat-divider>