.container-slider{
    width: 100vw;
}
.carousel-item{
    height: 80vh; 
    position: relative;
}

.image{
    margin: 0 auto;
    max-width: 100%;
    /* overflow: hidden; */
    object-fit:cover;
    position: absolute;
    top:0;
    bottom:0;
    vertical-align: middle;
}