@media screen and (max-width: 992px) {

    .menuleft>ul>li{
        display:none;
    }

    .smallScreen{
        position: relative;
        display: block!important;
    }

    /* ul>li.smallScreen {
      visibility: visible;
    } */
    .bigScreen{
        visibility: hidden;
    }
    .menuright{
        align-items: center;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-end;
    }

}

.menu-container {
    max-height: 300px;
    margin:0px;    
}

.menurow.row{
    width: auto;
}
.row>* {
    width: auto!important;
}
.bgshow{
    background-color: #424242;
    color:white;
    width: 100%;

}
.bghide{
    background-color: transparent;
}
.bigScreen {
    margin-top:25px;
    margin-bottom: 25px;
    float:right;
    vertical-align: auto;
    opacity:1; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.bigScreen small{
    font-weight: 800;
    color:#F03A47;
    font-size: 14px;
    padding-right: 20px;
}

.menuleft{
/*     
    float:left;
    margin-bottom: 5px;
    vertical-align: auto; */
    display:flex;
}

#logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#logo img {
    height:50px;
    width:auto;
    /* position: absolute; */
    /* margin-top:10px; */
}
.row.logo img{
    padding-left: 100px;
}

ul {
    list-style-type: none;
    width: fit-content;
    margin-bottom: 0px;

}

ul li{
    display:inline-block;
    padding-right:20px;
    margin-top:25px;
    
}

ul li a{
    text-decoration: none;
    color:white;
    cursor:pointer;
}

ul li a:hover{
    color:#F7B513;
}


mat-icon {
    font-weight:900;
    font-size:35px;
    vertical-align:super;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

mat-icon:hover{
    color:#F7B513;
}

mat-icon.more{
    color:#F03A47!important;
    vertical-align: super;
}

.show {
    display:flex;

}
.hide{
    display:none;
}

.smallScreen{
    display: none;
    font-size: x-large;
}

.dropdown-menu.show{
    display: block;
    background-color: rgba(66, 66, 66, 0.8);
    border-radius: 3px;
    border:none;
}

.dropdown-menu>li{
    margin-top:5%;
}
.dropdown-menu>li:hover{
    background-color: transparent; 
}
.dropdown-menu>li>a:hover{
    color:#F7B513;
    
}













