mat-divider {
    background-color: lightgray;
    
}

mat-card {
    max-height: 300px;
    min-height:250px;
}

.footer{
    height:250px;
}



h3{
    font-weight: 500;
    font-size:18px;
    border-bottom: 1px solid lightgray;
    margin-bottom:10px;
    margin-top:5px;
}

h4{
    font-size:15px;
    font-weight: 500;
    margin-bottom:8px;
}

.address{
    margin-bottom:8px;
    padding-left:8px;
}
.col-2.image {
    position: relative;
    height:230px;
    
}
img{
    max-width: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    
    
}

.col-5 {
    padding-left: 3%;
}
ul{
    list-style-type: none;
    justify-content: center;
    padding-left:10px;
    
    
}
ul li{
    margin-bottom:7px;
    

}
ul li a{
    color:white!important;
    text-decoration: none;
}

.email small mat-icon{
    margin-right:3px;
}

.smlist ul{
    list-style-type: none;
    text-align: center;
    margin-bottom:8px;

}

.smlist ul li{
    display: inline-block;
    position: relative;
    width: 25%;
    margin-top:40px;
}
.smlist ul li img{
    width:30px;
    position:absolute;
    color:white;
}

.newsletter{
    margin-top:10px;
}

.button { 
    justify-content: center;
    margin:auto;
}

small.formValid { 
    margin-top:0px;
}
